results
dataset
saved-models

*.pyc
*__pycache__*

*.tar
*.tar.gz

*.jpg
*.JPEG
pixels_removed/.DS_Store
pixels_removed/.DS_Store
dataset_copy2/copy/.DS_Store
dataset_copy2/.DS_Store
pixels_removed/temp_show/.DS_Store
pixels_removed/
dataset/
dataset_copy2/